.deckShowPage__deckCard{
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 300px;
    margin: 20px;
    background-color: #a4a4a4;
    color: white;
    padding: 2em;
}

.deckShowPage__title{
    text-overflow: ellipsis;
    white-space: nowrap;
    font: bold 1.3em Arial, sans-serif;
    margin: 0 -15px 0 0;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.deckShowPage__description{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-line;
    margin: -20px 5px 20px 0;
}

.deckShowPage__pageContainer{
    display: flex;
    justify-content: space-around;
}

.deckShowPage__cardContainer{
    margin: 20px;
    height: 140px;
}

.deckShowPage__button{
    width: fit-content;
    height: 24px;
    margin-bottom: 20px;
    background-color: #a4a4a4;
    color: white;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.deckShowPage__button:hover{
    border: 1px solid rgba(119, 136, 153, 50%);
    cursor: pointer;
    transition: background ease 0.1s;
}

.deckShowPage__buttons{
    padding: 0 0 20px;
    font-size: 15px;
}

.deckShowPage__titleContainer{
    display: flex;
}

.deckShowPage__inputs{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    min-width: 200px;
    padding: 5px;
    margin: 3px 0 20px;
    color: white
}

.deckShowPage__form{
    display: flex;
    flex-direction: column;
}

.deckShowPage__editButtons{
    display: flex;
    justify-content: flex-end;
}

.deckShowPage__editButton:hover{
    cursor: pointer;
}

.deckShowpage__editIcon:hover{
    cursor: pointer; 
  }

.deckShowPage__editIcon{
    margin: 5px 0 0 2px;
}